.filter {
  display: flex;
  align-items: center;
  align-self: center;
}

.filter__ckeck {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 20px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.filter__ckeck::after {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #F5F5F5;
  content: '';
  transition: 0.5s ease;
}

.filter__ckeck:checked {
  background-color: #2BE080;
}

.filter__ckeck:checked::after {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #F5F5F5;
  content: '';
  transition: 0.5s ease;
  transform: translate(16px);
}

@media screen and (max-width: 420px) {
  .filter {
    padding: 0;
    border-left: none;
  }

}