.searchform {
  margin: 0 auto 10px;
  padding: 65px 0 69px;
  width: 90%;
  border-bottom: 1px solid #E8E8E8;
}

.searchform__form-wrapper {
  display: flex;
  align-items: center;
  height: 72px;
  border-radius: 9px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.searchform__form-wrapper:focus-within {
  box-shadow: var(--focus-search);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.searchform__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searchform__input-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.searchform__icon {
  margin: auto 3px auto 25px;
  display: block;
  background: url("../../../images/search.svg");
  width: 34px;
  height: 34px;
}

.searchform__input-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.searchform__input {
  all: unset;
  display: block;
  width: 100%;
}

.searchform__input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #555;
}

.searchform__input::placeholder {
  color: #A0A0A0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
}

.searchform__btn {
  all: unset;
  border-radius: 48px;
  background: #000000;
  min-width: 58.6px;
  min-height: 34px;
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  margin: 0 19px 0 21px;
  transition: var(--transition);
}

.searchform__btn:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.searchform__filter-container {
  display: flex;
  gap: 14px;
  align-items: center;
  border-left: 1px solid#CBCBCB;
  height: 55%;
  padding: 0 37px 0 29px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
}

.searchform__filter-title {
  margin: 0;
}

@media screen and (max-width: 860px) {
  .searchform {
    padding: 74px 0 109px;
  }
}

@media screen and (max-width: 768px) {
  .searchform {
    width: 92%;
  }

  .searchform__icon {
    margin: auto 3px auto 19px;
  }

  .searchform__btn {
    margin: 0 21px 0 21px;
  }

  .searchform__filter-container {
    gap: 15px;
    padding: 0 20px 0 19px;
  }
}


@media screen and (max-width: 540px) {
  .searchform {
    padding: 78px 0 45px;
  }

  .searchform__form-wrapper {
    flex-direction: column;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    gap: 46px;
  }

  .searchform__form {
    align-items: center;
    border-radius: 9px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 72px;
  }

  .searchform__input {
    padding-left: 17px;
  }

  .searchform__input::placeholder {
    font-size: 14px;
    line-height: 1.42;
  }

  .searchform__icon {
    display: none;
  }

  .searchform__btn {
    margin: 0 16px 0 21px;
  }

  .searchform__filter-container {
    border-left: none;
    gap: 13px;
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
    line-height: 1.63;
  }
}



.searchform__filter {
  display: flex;
  align-items: center;
  align-self: center;
}

.searchform__filter__ckeck {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 20px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.searchform__filter__ckeck::after {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #F5F5F5;
  content: '';
  transition: 0.5s ease;
}

.searchform__filter__ckeck:checked {
  background-color: #2BE080;
}

.searchform__filter__ckeck:checked::after {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #F5F5F5;
  content: '';
  transition: 0.5s ease;
  transform: translate(16px);
}

@media screen and (max-width: 420px) {
  .searchform__filter {
    padding: 0;
    border-left: none;
  }

}

.search-form__error {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  height: 12px;
  color: #FF4062;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}